<div class="create-edit-banner">
  <%= render partial: "partials/errors", locals: {banner: @image_banner}%>

  <%= simple_form_for @image_banner do |f| %>
    <%= render partial: "partials/common_fields", locals: {f: f, banner: @image_banner, banner_name: "image_banner"}%>
      
    <%= f.input :url%><br>

    <%= f.file_field "file"%><br>
    <%= f.button :submit, :class => "btn-primary"%>
  <% end %>
</div>