<div class="create-edit-banner">
  <%= render partial: "partials/errors", locals: {banner: @html_banner}%>

  <%= simple_form_for @html_banner do |f| %>
    <%= render partial: "partials/common_fields", locals: {f: f, banner: @html_banner, banner_name: "html_banner"}%>

    <%= f.input :html, as: :text, input_html: { cols: 60, rows: 4 } %><br>
    <%= f.button :submit, :class => "btn-primary"%>
  <% end %>
</div>