<div class="panel">
  <div class="create_banner">
    <span>Create banner: </span>
    <ul>
      <li><%= link_to "Image", "image_banners/new"%></li>
      <li><span><%= link_to "Html",  "html_banners/new"%></li></span>
      <li><%= link_to "Flash", "flash_banners/new"%></li>
    </ul>
  </div>
  <div class="admin_banners">
    <% unless @banners.empty?%>
    <table class="table table-hover">
      <thead>
        <tr>
          <th> № </th>
          <th> Banner Type</th>
          <th> Controller</th>
          <th> Action</th>
          <th> Edit</th>
          <th> Remove</th>
        </tr>
      </thead>
      <tbody>
        <% number = 0 %>
        <% @banners.each do |banner|%>
          <tr class="active">
            <td><%= number = number + 1 %></td>
            <td><%= banner.producible_type %></td>
            <td><%= banner.controller %></td>
            <td><%= banner.action %></td>
            <td><%= link_to "Edit", "#{banner.producible_type.underscore}s/#{banner.producible_id}/edit"%></td>
            <td><%= link_to "Remove", "#{banner.producible_type.underscore}s/#{banner.producible_id}", data: {confirm: "Are you sure?"}, method: :delete
            %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>