<div class="common_fields">
  <%= f.label :controller %> <br>
  <div>
    <ul class="controller">
      <%  all_controllers.each do |controller, actions| %>
        <li>
          <%= f.radio_button :controller, controller %>
          <%= controller %>
          <div class="actions">
            <ul>
              <% actions.each do |action| %>
                <li><%= f.radio_button :action, action%>
                  <%= action %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="position">
    <%= f.label :position %><br>
    <% ['top', 'bottom', 'middle', 'right'].each do |position| %>
      <%= check_box_tag "#{banner_name}[positions][]", position, get_array_positions(banner).include?(position)%>
      <%= position.humanize %>
    <% end %>
  </div>


  <div class="property_type">
    <%= f.label :property_type %><br>
    <% ['residential', 'commercial', 'land', 'garage'].each do |property_type| %>
    <%= f.radio_button :property_type, property_type %>
      <%= property_type.humanize %>
    <% end %>
  </div>

  <div class="deal_kind">
    <%= f.label :deal_kind %>
    <% ['sale', 'rent'].each do |deal_kind| %><br>
      <%= f.radio_button :deal_kind, deal_kind %>
      <%= deal_kind.humanize %>
    <% end %>
  </div>

  <div class="deal_direction">
    <%= f.label :deal_direction %><br>
    <% ['offer', 'demand'].each do |deal_direction| %>
      <%= f.radio_button :deal_direction, deal_direction%>
      <%= deal_direction.humanize %>
    <% end %>
  </div>
</div>