<div class="controller">
  <span>Controller:</span><%= banner.controller %>
</div>

<% if banner.action %>
  <div class="deal_action">
    Action: <%= banner.action%>
  </div>
<% end %>

<div class="positions">
  <span>Positions:</span>
  <% unless banner.positions.empty? %>
    <ul>
      <% banner.positions.each do |pos|%>
        <li><%= pos.value %></li>
      <% end %>
    </ul>
  <%end%>
</div>

<div class="deal_kind">
  <span>Deal kind:</span> <%= banner.deal_kind %>
</div>

<div class="deal_direction">
  <span>Deal Direction:</span><%= banner.deal_direction %>
</div>

<div class="property_type">
  <span>Property type:</span><%=  banner.property_type %>
</div>